{% extends "shared/_layout.html" %}
{% block title %}About the Legend Herself{% endblock %}
{% block main_content %}
    {% if authors %}
        {% for author in authors %}
            <div class="main_content row">
                <h1>{{ author.full_name }}</h1>
            </div>
            <div class="row">
                <h5>Twitter:<a href="https://www.twitter.com/{{ author.twitter_handle }}">{{ author.twitter_handle }}</a></h5>
            </div>
            <div class="row">
                <h5><a href="{{ author.linkedin }}">LinkedIn Profile</a></h5>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    {% for paragraph in author.content.split('</p>') %}
                        <p >
                            {{ paragraph }}
                        </p>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    <object type="image/svg+xml" data="{{ 'static/img/authors/'+ author.image_file }}"></object>
                </div>

            </div>
        {% endfor %}
    {%  endif %}

{% endblock %}
