{% extends "shared/_layout.html" %}
{% block title %}About the Legend Herself{% endblock %}
{% block main_content %}
    {% if authors %}
        {% for author in authors %}
            <div class="main_content row">
                <h1>{{ author.name }}</h1>
            </div>
            <div class="row">
                <h5>{{ author.twitter_handle }}</h5>
            </div>
            <div class="row">
                <h5>{{ author.alias }}</h5>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p >
                        {{ author.content}}
                    </p>
                </div>
                <div class="col-sm-6">
                    <object type="image/svg+xml" data="{{ author.image }}"></object>
                </div>

            </div>
        {% endfor %}
    {%  endif %}

{% endblock %}
