{% extends "shared/_layout.html" %}
{% block title %}A Peak Into a Big, Beautiful, Black Brain{% endblock %}
{% block main_content %}
<div class="main_content">
    <h2>Articles</h2>
    {% if not articles %}
     <div>
        Nothing has been posted yet, please stay tuned!
     </div>
    {%  endif %}
    {% if articles %}
        {%  for s in articles %}
            
                <h3>
                    <a href="{{ url_for('navigation_views.read_article', article_id=s.article_id) }}"> {{ s.title }}</a>
                </h3>
                {{ s.preview }}
        {% endfor %}
    {% endif %}
</div>
{%  endblock %}