{% extends "shared/_layout.html" %}
{% block main_content %}
<h2>Say Hello!</h2>
    <p>
        We'd love to hear how we can be better or how we can help. 
        If you'd like to give some constructive feedback, inquire about a mentorship, or join the team, please fill in the information below.
    </p>
<form method="POST" action="" enctype="multipart/form-data">
    {{ contact_form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ contact_form.name.label(class="form-control-lable") }}
            {% if contact_form.name.errors %}
                {{ contact_form.name(class="form-control  is-invalid",) }}
                <div class="invalid-feedback">
                    {% for error in contact_form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ contact_form.name(class="form-control ",) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ contact_form.email.label(class="form-control-lable") }}
            {% if contact_form.email.errors %}
                {{ contact_form.email(class="form-control  is-invalid",) }}
                <div class="invalid-feedback">
                    {% for error in contact_form.email.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ contact_form.email(class="form-control ",) }}
            {% endif %}
        </div>   
        <div class="form-group">
            {{ contact_form.reason.label(class="form-control-lable") }}
            {% if contact_form.reason.errors %}
                {{ contact_form.reason(class="form-control  is-invalid",) }}
                <div class="invalid-feedback">
                    {% for error in contact_form.reason.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ contact_form.reason(class="form-control ",) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ contact_form.content.label(class="form-control-lable") }}
            {% if contact_form.content.errors %}
                {{ contact_form.content(class="form-control is-invalid",) }}
                <div class="invalid-feedback">
                    {% for error in contact_form.content.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ contact_form.content(class="form-control ",) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ contact_form.recaptcha }}
            <div class="invalid-feedback">
                {% for error in contact_form.content.errors %}
                    <span> {{ error }}</span>
                {% endfor %}
            </div>
        </div>      
    </fieldset>
    <div class="form-group">
        {{ contact_form.submit(class="btn btn-primary") }}
    </div>
</form>


{%  endblock %}