{% extends "shared/_layout.html" %}
{% block title %}The courage to do the right thing{% endblock %}
{% block main_content %}
<div class="main_content row">
<div class="col-lg">
    {% if not recent_articles %}
    <div>
       Nothing has been posted yet, please stay tuned!
    </div>
   {%  endif %}
   {% if recent_articles %}
       <div class="row">
           <div id="carouselArticles" class="carousel slide carousel-fade" data-ride="carousel">
               <div class="carousel-inner">
                   <div class="carousel-item active">
                        <h1 class="float-center">
                            Welcome!
                        </h1>
                        <h2>Courageous Engineer is a platform for people to share their expereiences in the engineering field that required courage.</h2>
                   </div>
                   <div class="carousel-item">
                        <h1 class="float-center">
                            Welcome!
                        </h1>
                        <h2>From social biases to doing the right thing when there is massive opposition and potential impact to your career, many of us have had situations that required courage.</h2>
                    </div>
                    <div class="carousel-item">
                        <h1 class="float-center">
                            Welcome!
                        </h1>
                        <h2>Our hope is that sharing these experiences will help others facing these difficult situations in the enigneering world.</h2>
                    </div>
                    <div class="carousel-item">
                        <h1 class="float-center">
                            Welcome!
                        </h1>
                        <h2>Please enjoy the articles, find out more about us, and leave some feedback!</h2>
                    </div>
                    {% for article in recent_articles %}
                        <div class="carousel-item">
                            <div class="card" style="width: 24 rem;">
                                    <a href="{{ url_for('navigation_views.read_article', article_id=article.article_id) }}">
                                        <img class="card-img-top" src="{{ '/static/img/articles/' + article.image_file }}" alt="First slide">
                                    </a>
                                    <div class="card-body">
                                        <h5>{{ article.title }} </h5>
                                        <p class="card-text">{{ article.preview }}</p>
                                    </div>
                                </div>            
                        </div>
                    {% endfor %}
               </div>
               <a class="carousel-control-prev" href="#carouselArticles" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carouselArticles" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>
           </div>
       </div>
       <br>


   {% endif %}

    <div class="row">
        <h2>Updates</h2>
    </div>
        {% if updates %}
            {% for update in updates %}
                <div class="content-section">
                    <div class="row">
                        <h4>{{ update.title }}</h4>
                        {% if current_user.is_authenticated %}
                            <br><a href="update/update/{{ update.id }}">edit</a> / <a href="delete/update/{{ update.id }}">delete</a>
                        {% endif %}
                    </div>
                    <div class="row">Posted: {{ update.posted }} </div>
                    {{ update.content }}
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    {% if update_form and current_user.is_authenticated %}
        <form method="POST" action="">
            {{ update_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ update_form.title.label(class="form-control-label") }}
                    {% if update_form.title.errors %}
                        {{ update_form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.title.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ update_form.content.label(class="form-control-label") }}
                    {% if update_form.content.errors %}
                        {{ update_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ update_form.submit(class="btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    {% endif %}
</div>
</div>
{%  endblock %}
