{% extends "shared/_layout.html" %}
{% block title %}The courage to do the right thing{% endblock %}
{% block main_content %}
<div class="main_content row">
<div class="col-lg">
    <h1>Welcome!</h1>
    Courageous Engineer is a platform for people to share their expereiences in the engineering field that required courage.
    <p>From social biases to doing the right thing when there is massive opposition and potential impact to your career, many of us have had situations that required courage,
    our hope is that sharing these experiences will help others facing these difficult situations in the enigneering world.
    <div class="row">
        <h2>Updates</h2>
    </div>
        {% if updates %}
            {% for update in updates %}
                <div class="content-section">
                    <div class="row">
                        <h4>{{ update.title }}</h4>
                        {% if current_user.is_authenticated %}
                            <br><a href="update/update/{{ update.id }}">edit</a> / <a href="delete/update/{{ update.id }}">delete</a>
                        {% endif %}
                    </div>
                    <div class="row">Posted: {{ update.posted }} </div>
                    {{ update.content }}
                    <br>
                </div>
            {% endfor %}
        {% endif %}
    {% if update_form and current_user.is_authenticated %}
        <form method="POST" action="">
            {{ update_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ update_form.title.label(class="form-control-label") }}
                    {% if update_form.title.errors %}
                        {{ update_form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.title.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ update_form.content.label(class="form-control-label") }}
                    {% if update_form.content.errors %}
                        {{ update_form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.content.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ update_form.submit(class="btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    {% endif %}
    {% if not recent_articles %}
     <div>
        Nothing has been posted yet, please stay tuned!
     </div>
    {%  endif %}
    {% if recent_articles %}
        <div class="row">
        {%  for s in recent_articles %}
            <div class="col-lg-6">
                <article>
                    <div class="row">
                        <h3 class="float-center">
                            <a href="{{ url_for('navigation_views.read_article', article_id=s.id) }}"> {{ s.title }}</a>
                        </h3>
                    </div>
                    <div class="row">
                        {{ s.preview }}
                    </div>
                    <div class="row">
                        <div class="post_image float-center">
                            <a href="{{ url_for('navigation_views.read_article', article_id=s.id) }}"><object type="image/svg+xml" data="{{ s.image }}" width="250"></object></a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
        </div>
        <br>


    {% endif %}

</div>
</div>
{%  endblock %}
