:root {
    --backgroundColor: lightgrey;
    --primaryFontColor: rgba(80,80,80,1);
    --navBackgroundColor: rgba(80,80,80,0.8);
    --navDropDownBackgroundColor: rgba(80,80,80,0.6);
    --navDropDownText: lightgrey;
    --lightAccent:  #6FC7C7;
    --darkAccent:  #186262;
}

title {
    font-weight: bold;
}
html {
    background-color: var(--backgroundColor);
}

body {
    background-color: var(--backgroundColor);
}

.main_content {
    margin-top: 160px;
    color: var(--primaryFontColor);
    background-color: var(--backgroundColor);
    border: 2px;
    height: 100%;
}

.main_content::selection {
    background-color: var(--navBackgroundColor);
    color: var(--backgroundColor)
}

h1 {
    color: var(--primaryFontColor);
}

h2 {
    color: var(--primaryFontColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-left: 25px;
    padding-right: 25px;
}

.nav-outer {
    background-color: var(--navBackgroundColor);
    width: 100%;
}

nav {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: auto;
}

.nav-link {

    color: var(--lightAccent);
    text-align: left;
    margin-left: auto;
    margin-right: 0px;
    width: 100%
}

.nav-link a:hover {
    opacity: 50%;
    color: var(--lightAccent);
}

a {
    color: var(--darkAccent);
}
a:hover {
    opacity: 50%;
    color: var(--darkAccent);
}

#logo {
    display: inline-block;
}

#article-drop {
  background-color: var(--navDropDownBackgroundColor);
}

.dropdown-item {
    color: var(--navDropDownText);
}

.dropdown-item:active {
  background-color: var(--darkAccent);
}

.collapse.show {
    float: left;
}

.collapse:not(.show) {
    float: right;
}

.post_image {
    padding: 15px;
    width: 60%;
}

.home-carousel {
    height: 23rem;
}

.home-carousel h1 {
    padding-left: 15px;
}

.home-carousel h2 {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-primary {
    background-color: var(--darkAccent);
    border-color: var(--darkAccent);
}

.btn-primary:focus {
    background-color: var(--darkAccent);
    border-color: var(--darkAccent);
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

.btn-primary:hover {
    background-color: var(--darkAccent);
    opacity: 70%;
}   

.btn-primary:not(:disabled):not(:disabled):active  {
    background-color: var(--darkAccent);
    border-color: var(--navDropDownBackgroundColor);
    opacity: 60%;
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

.form-control {
    border-color: var(--darkAccent);
}

.form-control:focus {
    border-color: var(--darkAccent);
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

#reason option:hover,
#reason option:focus,
#reason option:active {
    outline: none;
}

#reason option:hover,
#reason option:focus,
#reason option:active {
    background-color: var(--darkAccent);
    outline: var(--darkAccent);
    color: var(--navDropDownText);
    box-shadow: inset 20px 20px var(--darkAccent);
  }

#content {
    height: 18rem;
}
