title {
    font-weight: bold;
}
html {
    background-color: rgba(80,80,80,.5);
}
.background-design {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: bolder;
    font-size: 25vw;
    position: absolute;
    /*z-index: -1;*/
    overflow: hidden;
    margin: 5vw;
    width: 90vw;
}

html {
    background-color: rgba(80,80,80,0.80);
    z-index: -2;
}

.logo .c_chris {
    position: fixed;
    color: pink;
    font-size: 150px;
    z-index: -1;
}

.logo .hris_chris {
    position: fixed;
    color: hotpink;
    font-size: 50px;
    z-index: -1;
}

.logo .s_smit {
    position: fixed;

    color: palevioletred;
    font-size: 150px;
    z-index: -1;
}

.logo .mit_smit {
    position: fixed;
    color: lightpink;
    font-size: 50px;
    z-index: -1;
}

.main_content {
    background-color: rgba(180,180,180);
    padding: 20px;
}

h1 {
       color: rgba(80,80,80,0.80);
}

h2 {
    color: rgba(80,80,80,0.80);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
   background-color: rgba(80,80,80,0.80);
    font-size: 30px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav > a {
    display: inline-block;
    color: lightpink;
    text-align: center;
    padding: 14px 16px;
}

nav > a:hover {
    background-color: lightpink;
    color: rgba(80,80,80,0.6);
    border-radius: 5px;
}

nav > a:active {
    background-color: lightpink;
    opacity: 50%;
    border-radius: 5px;
}

a {
    background-color: rgba(80,80,80,0.80);
    color: lightpink;
    border-radius: 5px;
}
a:hover {
    background-color: rgba(80,80,80,0.80);
    color: lightpink;
    opacity: 60%;
    border-radius: 5px;
}

article {
    border-width: 3px;
    border-color: rgba(80,80,80,0.6);
}

::selection {
    background-color: rgba(80,80,80,0.6);
    color: lightpink;
}

