:root {
    --backgroundColor: lightgrey;
    --primaryFontColor: rgba(80,80,80,1);
    --navBackgroundColor: rgba(80,80,80,0.95);
    --navDropDownBackgroundColor: rgba(80,80,80,0.8);
    --navDropDownText: lightgrey;
    --lightAccent:  #6FC7C7;
    --darkAccent:  #186262;
}

title {
    font-weight: bold;
}
html {
    background-color: var(--backgroundColor);
    font-size: 22px;
}

@media screen and (min-width: 320px) {
    html {
      font-size: calc(22px + 6 * ((100vw - 320px) / 680));
      --cardWidth: 25rem;
      --cardHeight: 25rem;
      --cardPic: 20rem;
    }
}

@media screen and (min-width: 1000px) {
    html {
      font-size: 16px;
      --cardWidth: 18rem;
      --cardHeight: 22rem;
      --cardPic: 10rem;
    }
} 

body {
    background-color: var(--backgroundColor);
    position: relative;
    min-height: calc(100vh - 160px);
}

.main_content {
    margin-top: 160px;
    color: var(--primaryFontColor);
    background-color: var(--backgroundColor);
    border: 2px;
    padding-bottom:50px;
}

.main_content::selection {
    background-color: var(--navBackgroundColor);
    color: var(--backgroundColor);
    margin-top: 15px;
}

footer {
    background-color: var(--navBackgroundColor);
    color: var(--backgroundColor);
    padding: 10px;
    position: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

h1 {
    color: var(--primaryFontColor);
}

h2 {
    color: var(--primaryFontColor);
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-left: 25px;
    padding-right: 25px;
}

.nav-outer {
    background-color: var(--navBackgroundColor);
    width: 100%;
}

nav {
    font-size: 2rem;
    margin-left: 0px;
    margin-right: auto;
}

.nav-link {
    color: var(--lightAccent);
    text-align: left;
    margin-left: auto;
    margin-right: 0px;
    width: 100%
}

.nav-link a:hover {
    opacity: 50%;
    color: var(--lightAccent);
}

a {
    color: var(--darkAccent);
}
a:hover {
    opacity: 50%;
    color: var(--darkAccent);
}

#logo {
    display: inline-block;
}

#nav-drop-article, #nav-drop-about {
  background-color: var(--navDropDownBackgroundColor);
}

.dropdown-item {
    color: var(--navDropDownText);
}

.dropdown-item:active {
  background-color: var(--darkAccent);
}

.collapse.show {
    float: left;
}

.collapse:not(.show) {
    float: right;
}

.home-carousel {
    height: 22rem;
}

.home-carousel h1 {
    padding-left: 15px;
}

.home-carousel h2 {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-primary {
    background-color: var(--darkAccent);
    border-color: var(--darkAccent);
}

.btn-primary:focus {
    background-color: var(--darkAccent);
    border-color: var(--darkAccent);
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

.btn-primary:hover {
    background-color: var(--darkAccent);
    opacity: 70%;
}   

.btn-primary:not(:disabled):not(:disabled):active  {
    background-color: var(--darkAccent);
    border-color: var(--navDropDownBackgroundColor);
    opacity: 60%;
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

.form-control {
    border-color: var(--darkAccent);
}

.form-control:focus {
    border-color: var(--darkAccent);
    box-shadow: inset 0 1px 1px var(--darkAccent), 0 0 8px var(--darkAccent);
}

#reason option:hover,
#reason option:focus,
#reason option:active {
    outline: none;
}

#reason option:hover,
#reason option:focus,
#reason option:active {
    background-color: var(--darkAccent);
    outline: var(--darkAccent);
    color: var(--navDropDownText);
    box-shadow: inset 20px 20px var(--darkAccent);
  }

#content {
    height: 18rem;
}

.article-card {
    background-color: var(--backgroundColor);
    border-color: var(--darkAccent);
    border-width: 2px;
    margin-bottom: 15 px;
    height: var(--cardHeight);
    width: var(--cardWidth);
    max-width: 95%;
}

.card-img-top {
    width: auto;
    height: var(--cardPic);
    object-fit: cover;
}

.tag-bucket {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px
}

.about-pic {
    max-width: 100vw;
    margin: 15px;
    border-width: 2px;
    border-color: var(--lightAccent);
}

.post-image {
    padding: 15px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-header {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

