*.pyc
*.pyo
.vscode
.idea
__pycache__/
venv
config.json
*.db

/chrissmit/static/img/articles/*.png
/chrissmit/static/img/authors/*.png
/chrissmit/static/img/preview/*.png

/chrissmit/static/img/articles/*.jpg
/chrissmit/static/img/authors/*.jpg
/chrissmit/static/img/preview/*.jpg

/chrissmit/static/img/articles/*.svg
/chrissmit/static/img/authors/*.svg
/chrissmit/static/img/preview/*.svg

