<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/site.css">

    {% if additional_css %}
        <link rel="stylesheet" href="{{ additional_css }}">
    {% endif %}


</head>
<body>
<div class="nav-outer fixed-top">
    <div class="col-12 menu">
        <nav class="navbar navbar-expand-lg">

            <button class="navbar-toggler logo" type="button" data-toggle="collapse" data-target="#navbarNavDropdown " id="logo">
                <svg x="0px" y="0px" width="154px" height="128px">
                  <title>Courageous Engineer</title>
                  <polyline fill="#6FC7C7" points="32,0 128,0 112,32 32,32 "></polyline>
                  <polyline fill="#6FC7C7" points="32,128 128,128 112,96 32,96 "></polyline>
                  <polyline fill="#6FC7C7" points="48,48 90,48 90,80 48,80 "></polyline>
                  <polyline fill="#186262" points="0,64 32,0 64,0 32,64 64,128 32,128 "></polyline>
                </svg>
            </button>
<div >
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav float-left">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('navigation.index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('navigation.about') }}">About</a></li>
                    <li class="nav-item">
                       <div class="dropdown show">
                          <a class="nav-link"
                             href="#" role="button"
                             id="dropdownMenuLink"
                             data-toggle="dropdown"
                             aria-haspopup="true"
                             aria-expanded="false">Articles</a>

                            <div class="dropdown-menu" id="article-drop" aria-labelledby="dropdownMenuLink">
                                {%  for s in recent_articles %}
                                    <a class="dropdown-item" href={{ "/articles/" + s.page }}> {{ s.title }}</a>
                                {% endfor %}
                                <a class="dropdown-item" href="{{ url_for('navigation.articles') }}">All Articles</a>
                            </div>
                          </div>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('navigation.contact') }}">Contact</a></li>
                </ul>
            </div>
</div>
        </nav>
    </div>
</div>

<div class="main_content container">
    <div class="row">
        <div class="col-md-10">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous">

</script>

<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">

</script>

</body>

</html>