{% extends "shared/_layout.html" %}
{% block title %} {{ story.preview }}{% endblock %}
{% block main_content %}
<div class="main_content">
    {% if not story %}
         <div>
            Article Not Found!
         </div>
    {%  endif %}

    {% if story %}
        <h2>{{ story.title }}</h2>
        <div class="row">
            <div class="col-sm-12">
                <object class="post_image" type="image/svg+xml" data="{{'../../../'+story.image}}"></object>
            </div>
        </div>
        <article>
            {{ story.content }}
        </article>
        <br>
        <strong>Posted by </strong> {{ story.author }} on {{ story.posted }}
        {% if story.edited %}
            Edited:{{ story.edited }}
        {% endif %}
    {% endif %}
</div>
{%  endblock %}