{% extends "shared/_layout.html" %}
{% block title %}{{ status_message }}{% endblock %}
{% block main_content %}
<div class="main_content">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ article_form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ status_message }}</legend>
            <div class="form-group">
                {{ article_form.title.label(class="form-control-lable") }}
                {% if article_form.title.errors %}
                    {{ article_form.title(class="form-control form-control-lg is-invalid",) }}
                    <div class="invalid-feedback">
                        {% for error in article_form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ article_form.title(class="form-control form-control-lg",) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ article_form.preview.label(class="form-control-lable") }}
                {% if article_form.preview.errors %}
                    {{ article_form.preview(class="form-control form-control-lg is-invalid",) }}
                    <div class="invalid-feedback">
                        {% for error in article_form.preview.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ article_form.preview(class="form-control form-control-lg",) }}
                {% endif %}
            </div>   
            <div class="form-group">
            {% if current_article.image_file %}
                <img src="{{ '/static/img/authors/' + current_article.image_file }}" alt="{{ article_form.image_file.data }}">
            {% endif %}
            <div class="row">
                {{ article_form.image_file.label }}
                {{ article_form.image_file(class='form-control-file') }}
                {% if article_form.image_file.errors %}
                    {% for error in article_form.image_file.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ article_form.content.label(class="form-control-lable") }}
                {% if article_form.content.errors %}
                    {{ article_form.content(class="form-control form-control-lg is-invalid",) }}
                    <div class="invalid-feedback">
                        {% for error in article_form.content.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ article_form.content(class="form-control form-control-lg",) }}
                {% endif %}
            </div>      
        </fieldset>
        <div class="form-group">
            {{ article_form.save(class="btn-outline-info") }}
            {% if step_forward %}
                {{ article_form.step_forward(class="btn-outline-info") }}
            {% endif %}
        </div>
    </form>
</div>

{%  endblock %}