{% extends "shared/_layout.html" %}
{% block title %}A Peak Into a Big, Beautiful, Black Brain{% endblock %}
{% block main_content %}
<div class="main_content">
    <h2>Messages</h2>
    {% if read_messages %}
        <h3>Unread</h3>
        {%  for message in unread_messages %}
        {{ message.id }}
            <div class="row">
                <a href="#">
                    {{ message }}
                </a>
            </div>
        {% endfor %}
    {% endif %}
    {% if read_messages %}
    <h3>Read Messages</h3>
    {%  for message in read_messages %}

        <div class="row">
            <a href="#">
                {{ message }}
            </a>
        </div>
    {% endfor %}
{% endif %}
  
</div>
{%  endblock %}