{% extends "shared/_layout.html" %}
{% block title %}Update Update{% endblock %}
{% block main_content %}

<form method="POST" action="">
    {{ update_form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-group">
            {{ update_form.title.label(class="form-control-label") }}
            {% if update_form.title.errors %}
                {{ update_form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in update_form.title.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ update_form.title(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ update_form.content.label(class="form-control-label") }}
            {% if update_form.content.errors %}
                {{ update_form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in update_form.content.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ update_form.content(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ update_form.submit(class="btn-outline-info") }}
        </div>
    </fieldset>
</form>


{%  endblock %}